.rotateMain{
    transform: rotate(-90deg);
    display: block;
    width: fit-content;
    height: fit-content;
    line-height: 80px;
    position: relative;

}

.btnHeroAbsolute{
    position: absolute;
    bottom: 50px;
    display: flex;
    gap: 30px;
    align-items: center;
}

.btnHeroAbsolute button{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: white;
    color: #00163b;
}

.rotateContainer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rotateMain p{
    position: relative;
    color: black;
    width: 100%;
    height: fit-content;
    text-align: center;
    font-weight: 800;
    font-size: 90px;
    z-index: 30;
    color: white;
    transition: transform 0.5s ease;
}

.circleBG{
    height: 480px;
    width: 480px;
    background-color: #00163b;
    position: absolute;
    border-radius: 50%;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.animate-circle {
    opacity: 1;
}


/* Animation keyframes for different <p> tags */
@keyframes moveGlobal {
    to {
        transform: translateY(-150px);
    }
}

@keyframes moveModernAndReady {
    to {
        transform: translateY(230px);
    }
}

@keyframes undoGlobal {
    from {
        transform: translateY(-150px);
    }
    to {
        transform: translateY(-200px);
    }
}

@keyframes undoModernAndReady {
    from {
        transform: translateY(150px);
    }
    to {
        transform: translateY(-200px);
    }
}
@keyframes undoModernAndGlobal {
    from {
        transform: translateY(-200px);
    }
    to {
        transform: translateY(-300px);
    }
}

.undo-Modern-global{
    animation: undoModernAndGlobal 0.5s forwards
}

@keyframes undoReady {
    from {
        transform: translateY(230px);
    }
    to {
        transform: translateY(-305px);
    }
}

.undo-ready{
    animation: undoReady 0.5s forwards !important;
}

.undo-global {
    animation: undoGlobal 0.5s forwards;
}

.undo-modern,
.undo-ready {
    animation: undoModernAndReady 0.5s forwards;
}

/* Triggered animation classes */
.animate-global {
    animation: moveGlobal 0.5s forwards;
}

.animate-modern,
.animate-ready {
    animation: moveModernAndReady 0.5s forwards;
}


.mainDiv{
    position: relative;
    height: 130vh;
    width: 100%;
    background-image: url("https://i.postimg.cc/ncpCqjSY/Whats-App-Image-2024-12-08-at-21-40-50.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.btnArrowHero{
    height: 45px !important;
    width: 45px !important;
    background-color: #00163b;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px !important;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%) !important;
}

/* .rotateMain span{
    transform: rotate(90deg);
    display: inline-block;
    width: 230px;
    text-align: left;
    position: absolute;
    line-height: 30px;
    font-size: 17px;
    font-weight: 400;
    top: 40%;
    right: 20%;
    color: white;
    z-index: 20;
    display: none;
    transition: display 0.5s ease;
} */
/* Existing styles */
.span3 {
    transform: rotate(90deg);
    width: 255px;
    text-align: left;
    position: absolute;
    line-height: 30px;
    font-size: 17px;
    font-weight: 500;
    top: -18%;
    right: 25%;
    color: white;
    z-index: 20;
    display: none;
    opacity: 0; /* Start invisible */
    transition: opacity 0.8s ease, transform 0.8s ease, display 0.8s ease;
}
.span2 {
    transform: rotate(90deg);
    width: 255px;
    text-align: left;
    position: absolute;
    line-height: 30px;
    font-size: 17px;
    font-weight: 500;
    top: -8%;
    right: 25%;
    color: white;
    z-index: 20;
    display: none;
    opacity: 0; /* Start invisible */
    transition: opacity 0.8s ease, transform 0.8s ease, display 0.8s ease;
}

/* Animation keyframes to slide in from below */
@keyframes fadeInFromYspan3 {
    from {
        transform: rotate(90deg) translateX(200px); /* Start position */
        opacity: 0; /* Start invisible */
        display: none;
    }
    to {
        transform: rotate(90deg) translateX(0); /* Original position */
        opacity: 1; /* Fully visible */
        display: inline-block;
    }
}

@keyframes fadeoutImpact {
    from {
        transform: rotate(90deg) translateX(0); /* Original position */
        opacity: 1; /* Fully visible */
        display: inline-block;
    }
    to  {
        transform: rotate(90deg) translateX(200px); /* Start position */
        opacity: 0; /* Start invisible */
        display: none;
    }
}
@keyframes fadeInFromY {
    from {
        transform: rotate(90deg) translateX(120px); /* Start position */
        opacity: 0; /* Start invisible */
        display: none;
    }
    to {
        transform: rotate(90deg) translateX(0); /* Original position */
        opacity: 1; /* Fully visible */
        display: inline-block;
    }
}

/* Class to trigger the fade-in effect */
.span2FadeIn {
    animation: fadeInFromY 0.8s forwards;
    opacity: 1;
    display: inline-block;
}
.span3FadeIn {
    animation: fadeInFromYspan3 0.8s forwards;
    opacity: 1;
    display: inline-block;
}

.impactPlayback {
    animation: fadeoutImpact 0.8s forwards;
    color: red;
    /* opacity: 0;
    display: none; */
}

.span1{
    transform: rotate(90deg);
    width: 255px;
    text-align: left;
    position: absolute;
    line-height: 30px;
    font-size: 17px;
    font-weight: 500;
    top: -18%;
    right: 25%;
    color: white;
    z-index: 20;
    display: none;
    opacity: 0;
    transition: display 0.8s ease opacity 0.8s ease;
}

.span1 b, .span2 b, .span3 b{
    font-weight: 900;
    font-size: 24px;
    display: block;
    margin-bottom: 10px;
}

.span1playback{
    animation: span1playback 0.5s ease !important;
}

.span2Exit{
    animation: span2Exit 0.5s ease !important;
}

@keyframes span2Exit {
    from{
        display: inline-block;
        opacity: 1;
      transform: translateX(0) rotate(90deg);
    }

    to{
        display: none;
        opacity: 0;
        transform: translateY(-400px) rotate(90deg);
    }
}
@keyframes span1playback {
    from{
        display: inline-block;
        opacity: 1;
      transform: translateX(0) rotate(90deg);
    }

    to{
        display: none;
        opacity: 0;
        transform: translateY(-400px) rotate(90deg);
    }
}

.span1Opacity{
    opacity: 1;
    display: inline-block;
}

/* .span3{
    top: 115% !important;
    right: 12% !important;
} */

.sideMenu{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    z-index: 1005;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 1s ease-in-out;
}

.sideMenu.open {
    visibility: visible;
    opacity: 1;
  }
  
  .sideMenu.close {
    visibility: hidden;
    opacity: 0;
  }

.sideMenuFixed{
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.sideMenuLeft{
    width: 75%;
    height: 100vh;
    background-color: rgba(0, 22, 59, 0.7);
    filter: brightness(50%);
    filter: blur(15px);
    opacity: 0; /* Hidden by default */
  visibility: hidden;
}

@keyframes slideIn {
    from {
      right: -25%; /* Start off-screen */
    }
    to {
      right: 0; /* End in its visible position */
    }
  }
  
  @keyframes slideOut {
    from {
      right: 0; /* Start in its visible position */
    }
    to {
      right: -25%; /* End off-screen */
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  
  .sideMenuRight {
    position: fixed;
    top: 0;
    width: 25%;
    height: 100vh;
    background-color: #16d0c5;
    filter: brightness(2px);
  }
  
  .sideMenuRight.show {
    animation: slideIn 0.5s ease forwards; /* Trigger slide-in animation */
  }
  
  .sideMenuRight.hide {
    animation: slideOut 0.5s ease forwards; /* Trigger slide-out animation */
  }
  

  .sideMenuLeft.visible {
    animation: fadeIn 0.5s ease forwards 0.2s; /* Fade in with a delay */
    visibility: visible;
  }
  
  .sideMenuLeft.hidden {
    animation: fadeOut 0.5s ease forwards;
  }

.sideMenuRight ul{
    width: 100%;
    height: 100%;
    padding: 30px;
}

.sideMenuRight ul li{
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    color: #00163b;
    border-bottom: 1px solid rgba(0, 22, 59, 0.4);
    padding: 15px 0;
}

.closeIcons{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 20px;
}

.closeIcons .icon {
    color: #00163b;
    cursor: pointer;
    transition: all 0.5s;
}

.closeIcons .icon:hover {
    color: white;
}